* { margin: 0; padding: 0; }

#game-over, #pause-screen {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    z-index: 999; /* Para garantir que a div fique acima de outros elementos */
}

#game-over h1, #pause-screen h1 {
    margin-top: 0;
}

#username-input {
    padding: 5px 10px;
    margin-top: 10px;
    background-color: rgba(218, 218, 218, 0.541);
    opacity: 50%;
    font-family: Ubuntu, sans-serif;
    border: none;
    color: cornsilk;
}

#username-input:focus::-webkit-input-placeholder {
    color: transparent;
}

#username-input::placeholder{
    color: cornsilk;
}

.button-container {
    margin-top: 20px;
}

.button-container button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #45a049;
}

.score {
    position: fixed;
    z-index: 10;
    color: antiquewhite;
    left: 5px;
    bottom: 2px;
    margin: 0;
    font-family: Ubuntu, sans-serif;

    #label-s {
        color: #08ff14;
    }

    #score {
        color: bisque;
    }
}